# credentials

ODIDO_USER_ID=
ODIDO_TOKEN=

ODIDO_CACHED_SUBSCRIPTION_URL=  # save on heavy API call, retrieving this

# defaults

ODIDO_THRESHOLD=400             # MB
ODIDO_FORCE_TOPUP=0             # value of 1 triggers top-up without checking the current eligibility
